<style type="text/css">
  
</style>



<div id="myDiagramDiv" style="height:690px;  "></div>
<!-- <span style="display: inline-block; vertical-align: top;">
  Selected Part:<br/>
  <div id="myInspectorDiv" class="inspector"> </div><br/>
  First Node's data:<br />
  <div id="myInspectorDiv2" class="inspector"> </div><br />
  Model.modelData:<br />
  <div id="myInspectorDiv3" class="inspector"> </div><br />
</span> -->


<div *ngIf="flag" id = "infoDraggable" class="draggable" style="display: inline-block; vertical-align: top; padding: 5px; top: 20px; left: 380px;">
  <div  class="handle">Info
    
  </div>
  <div>
  <div  id="myInfo">
    <div *ngIf="node!= null"> 
      <div class="row">
          <div class="col-md-6">
              Node Key :  
          </div>
          <div class="col-md-6">
              <input class="form-control form-control-sm"  id="key" value="{{node.key}}">
          </div>
      </div>
      <div class="row">
          <div class="col-md-6">
              Node Location : 
          </div>
          <div class="col-md-6">
              <input class="form-control form-control-sm" id="key" value="{{node.location}}">
          </div>
      </div>
      <div class="row">
          <div class="col-md-6">
              Angle: 
          </div>
          <div class="col-md-6">
              <input class="form-control form-control-sm" id="key" value="{{node.angle}}">
          </div>
          
      </div>
      <div class="row">
        <div class="col-md-6">
            Enter x-axis: 
        </div>
        <div class="col-md-6">
            <input class="form-control form-control-sm" #box id="key" >
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
            Enter y-axis: 
        </div>
        <div class="col-md-6">
            <input class="form-control form-control-sm" #box1 id="key" >
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
            Enter Angle: 
        </div>
        <div class="col-md-6">
            <input class="form-control form-control-sm" #box2 id="key" >
        </div>
      </div>
      <!-- <button (click)="getloc(box.value);getkey(box1.value);getangle(box2.value)">Update</button> -->
      <button (click)="getproperty(box.value,box1.value,box2.value)">Update</button>
    </div>
  </div>
  </div>
  
  
</div>

<!-- <div id="buttons">
    <button id="loadModel" (click)="getjid(box3.value)"  onclick="load(mySavedModel.value)">Load</button>
    <button id="saveModel" (click)="getjid(box3.value)" onclick="save(mySavedModel.value)">Save</button>
  </div>
<textarea #box3 id="mySavedModel" style="width:100%;height:300px" >
     
</textarea> -->

<!-- { "class": "GraphLinksModel",
  "nodeDataArray": [
{"key":1, "loc":"0 0", "text":"Alpha", "details":"some information about Alpha and its importance"},
{"key":2, "loc":"170 0", "text":"Beta", "color":"blue", "thickness":2, "figure":"Procedure"},
{"key":3, "loc":"0 100", "text":"Gamma", "color":"green", "figure":"Cylinder1"},
{"key":4, "loc":"80 180", "text":"Delta", "color":"red", "figure":"Terminator", "size":"80 40"},
{"key":5, "loc":"350 -50", "text":"Zeta", "group":7, "color":"blue", "figure":"CreateRequest"},
{"key":6, "loc":"350 50", "text":"Eta", "group":7, "figure":"Document", "fill":"lightyellow"},
{"key":7, "isGroup":true, "text":"Theta", "color":"green", "fill":"lightgreen"},
{"key":8, "loc":"520 50", "text":"Iota", "fill":"pink"}
 ],
  "linkDataArray": [
{"from":1, "to":2, "dash":[ 6,3 ], "thickness":4},
{"from":1, "to":3, "dash":[ 2,4 ], "color":"green", "text":"label"},
{"from":3, "to":4, "color":"red", "text":"a red label", "fromSpot":"RightSide"},
{"from":2, "to":1},
{"from":5, "to":6, "text":"in a group"},
{"from":2, "to":7},
{"from":6, "to":8, "dir":0},
{"from":6, "to":8, "dir":1},
{"from":6, "to":8, "dir":2}
 ]}  -->
